@model ChatterApp.Models.Chat

@{
    ViewBag.Title = "Browse";
}

<h2>Browse</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th></th>
    </tr>
    
    @foreach (var item in ViewBag.chats)
    {
        <tr>
            <td>
                @item.ApplicationUser.Email
            </td>
            <td>
                @item.Content
            </td>
            @if(Request.IsAuthenticated)
            { 
            <td>
                @Html.ActionLink("Follow", "Follow", new { id = item.ChatID }) 
            </td>
            }
        </tr>
    }

</table>

