@model IEnumerable<ChatterApp.Models.Chat>

@{
    ViewBag.Title = "Index";
}

<h2 class="heading">Your Chats</h2>

<p class="create">
    @Html.ActionLink("Write A New Chat", "Create")
</p>

            @*@Html.DisplayNameFor(model => model.ApplicationUser.Email)
        
            @Html.DisplayNameFor(model => model.Content)*@
     
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-xs-12 col-md-8 col-md-offset-2 chat">
            <span class="email">@Html.DisplayFor(modelItem => item.ApplicationUser.Email)</span><br/>

            @Html.DisplayFor(modelItem => item.Content)<br/>

            @Html.ActionLink("Edit", "Edit", new { id = item.ChatID })
            @Html.ActionLink("Details", "Details", new { id = item.ChatID })
            @Html.ActionLink("Delete", "Delete", new { id = item.ChatID })
        </div>
    }
</div>



